
.rectangle{
	width:400px;
	height:200px;
	background:red;
	margin: 27px 0px 0px 153px;
	border:3px solid green;
	border-radius: 50%;
	position: absolute
}
.rectangleBis{
	width:400px;
	height:200px;
	margin: 27px 0px 0px 628px;
	background:red;
	border:3px solid green;
	border-radius: 50%;
	position: absolute
}
.cercle1{
	width:50px;
	height:50px;
	background: #fff;
	border: 2px dotted black;
	border-radius: 50%;
	position: absolute;
	margin: 102px 0px 0px 328px
}
.cercle2{
	width:50px;
	height:50px;
	background: #fff;
	border: 2px dotted black;
	border-radius: 50%;
	position: absolute;
	margin: 102px 0px 0px 803px
}
.eye1{
	width:10px;
	height:10px;
	background: black;
	border: 2px solid black;
	border-radius: 50%;
	position: absolute;
	margin: 122px 0px 0px 348px
}
.eye2{
	width:10px;
	height:10px;
	background: black;
	border: 2px solid black;
	border-radius: 50%;
	position: absolute;
	margin: 122px 0px 0px 823px
}
.paupiereLeft{
	width:400px;
	height:200px;
	background:black;
	margin: 15px 0px 0px 153px;
	border:3px solid black;
	border-radius: 50%;
	position: absolute
}
.paupiereRight{
	width:400px;
	height:200px;
	margin: 15px 0px 0px 628px;
	background:black;
	border:3px solid black;
	border-radius: 50%;
	position: absolute
}
.nez1{
	background: yellow;
	width: 70px;
	height: 150px;
	margin: 240px 0px 0px 560px;
	position: absolute
}
.nez2{
	background: purple;
	width: 70px;
	height: 20px;
	margin: 390px 0px 0px 560px;
	position: absolute
}
.nez3{
  border-bottom: 20px solid transparent;
  border-left  : 20px solid blue; 
  border-right : 20px solid transparent;
  height : 150px;
  width  : 0px;
  margin: 240px 0px 0px 560px;
  position: absolute
}
.bouche1{
	width:875px;
	height:200px;
	background:yellow;
	margin: 440px 0px 0px 153px;
	border-radius: 50%;
	position: absolute
}
.bouche2{
	width:900px;
	height:200px;
	background:white;
	margin: 420px 0px 0px 140px;
	border-radius: 50%;
	position: absolute
}